[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "prezto"]
	path = dotfiles/prezto
	url = https://github.com/Ci7rix/prezto.git
	ignore = dirty
